<footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">About</h2>
            <p>Hello! I'm a passionate web developer with a strong background in creating dynamic and responsive websites.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="#home-section"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
              <li><a href="#about-section"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
              <li><a href="#services-section"><span class="icon-long-arrow-right mr-2"></span>Services</a></li>
              <li><a href="#projects-section"><span class="icon-long-arrow-right mr-2"></span>Projects</a></li>
              <li><a href="#contact-section"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Services</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>E-commerce Development</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Web Development</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Hosting Services</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Live Chat</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Email-List Building</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">10, Akande Street, Idorawa, Ogun State. Nigeria</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+234 816 440 5253</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">Jamikeobikwelu&#64;gmail.com</span></a></li>
                </ul>
              </div>
              
      <p>Click the button below to chat with me on WhatsApp:</p>
      <a href="https://wa.me/08164405253nNN" target="_blank">
          <button style="padding: 10px 20px; font-size: 16px; background-color: black; color: white; border: 2px solid #ffc107; border-radius: 5px;">
              Chat with me on WhatsApp
          </button>
      </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
    
  </footer>